.home-container {
    animation: fadeIn 1s ease-in-out;
  }
  
  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media (max-width: 600px) {
    .profile-section {
      padding: 1rem;
    }
  }
  