.education-container {
  animation: fadeIn 5s ease-in-out;
}

.education-table-container {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  overflow-x: auto;
}

.education-table-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(185, 66, 171, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media (max-width: 600px) {
  .MuiTableCell-root {
    padding: 8px;
  }
}
